/* ANIMAÇÃO DO TÍTULO */
.hero h2 {
  animation: pulse 2s infinite ease-in-out;
}

/* TEXTO COM ATRASO */
.hero p {
  animation: fadeUp 1s ease forwards;
  opacity: 0;
  animation-delay: 0.8s;
}

/* PULSE */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

/* ENTRADA SUAVE */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero .btn {
  animation: fadeUp 1s ease forwards;
  opacity: 0;
  animation-delay: 1.2s;
}

